.div_menu {
    background-color: black;
    color: white;
}

a {
    color: inherit;
    font-size: 20px;
    text-transform: uppercase;
}

.slider-div {
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

p {
    text-align: justify;
}